<div class="c-container">
    <div class="cont-form">
        <h2 class="cont-h">Contact Us.</h2>

        <form>
            <input type="text" placeholder="Your Name Here" class="cont-input-1">
            <input type="text" placeholder="Subject" class="cont-input"><br/>
            <input type="email" placeholder="example@gamil.com" class="cont-input-2">
            <textarea placeholder="Type What You Want To Say." class="cont-text"></textarea>
            <button class="cont-btn">Submit</button>
        </form>
    <div class="cont-copy">
        <p class="cont-copy-p">© CodeeFly 2023 | All Rights Reserved</p>
    </div>  
</div>