<div class="c-container">
    <div class="box">
        <div class="pro-pp">
            <p class="pro-p">CREATIVE DESIGNING</p>
        </div>
        <div class="pro-text">
            <h2 class="pro-h">Our Creative for the Creative World</h2>
        </div><br/>
        <div class="box-1">
            <div class="project">
                <%= image_tag src="/assets/8a4e21e54eb7c3255fa6793c21f9f2d4.jpeg", class: "project-img"%><br/>
                <p class="pro-p-2">Where Passion and Purpose Collide</p>
                <p class="pro-p1">Lorem Ipsum is simply dummy text of the printing     
                and types etting in our company here thisn designers give me more design here
                </p>
            </div>
            <div class="project">
                <%= image_tag src="/assets/88e48f002e981eb4dd4534bfef889696.jpeg", class: "project-img"%><br/>
                <p class="pro-p-2">Where Passion and Purpose Collide</p>
                <p class="pro-p1">Lorem Ipsum is simply dummy text of the printing     
                and types etting in our company here thisn designers give me more design here
                </p>
            </div>
            <div class="project">
                <%= image_tag src="/assets/f1647f3d6960262cb8c598d1da55c518.jpeg", class: "project-img"%></br>
                <p class="pro-p-2">Where Passion and Purpose Collide</p>
                <p class="pro-p1">Lorem Ipsum is simply dummy text of the printing     
                and types etting in our company here thisn designers give me more design here
                </p>
            </div>
        </div>
    </div>
</div>