<div class="c-container">
    <div class="box">
        <div class="pro-pp">
            <p class="pro-p">WEB DEVELOPMENT</p>
        </div>
        <div class="pro-text">
            <h2 class="pro-h">Actionable insights<br/> Real-world experience</h2>
        </div><br/>
        <div class="box-1">
            <% @posts.each do |post| %>
                <div class="project">
                    <% if post.image.attached? %>
                    <%= image_tag url_for(post.image), class: "project-img"%>
                    <% end %>    <br/>
                    <p class="pro-p-2"><%= post.title %></p>
                    <p class="pro-p1"><%= post.description%></p>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
