<div class="b-container">
    <div>
    <div class="p-text">
        <p class="p-style">Professionals focused on helpingyour<br/>brand grow and move forward</p>
    </div>
    <div class="text-t">
        <h1 class="h-style">Designing a Better World <span class="span-s">Today</span></h1>
    </div>
    <div class="p-to-p">
        <p class="p-p">
        I'm a passionate UI/UX designer with a
         mission to create delightful and intuitive digital experiences.
         With a strong foundation in design principles and a keen eye for
         detail, I specialize in translating complex ideas into
         user-friendly interfaces that captivate and engage.
         </p>
    </div>
    <button class="btn-1">Get Started</button>
    <div>
    <div>
    <%= image_tag src="/assets/Screenshot from 2024-02-28 15-27-10.png", class: "img-size-2" %>
    </div>
</div>