<div class="c-container">
    <div class="box">
        <div class="pro-pp">
            <p class="pro-p">CONTENT MARKETING</p>
        </div>
        <div class="pro-text">
            <h2 class="pro-h">Weaving Magic into  <br/> Your Business</h2>
        </div><br/>
        <div class="market-box">
            <div class="info-box">
                <h6 class="mark-h">Creative Agency</h6>
                <hr class="b-r">
                <h5 class="mark-h-6">Framer Designer & Developer</h5>
                <p class="mark-p">2019 - present</p>
                <p class="mark-p-2">
                    Nemo enim ipsam voluptatem quia voluptas
                    sit aspernatur autodit aut fugit sed<br/>  thisnquia 
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt    
                 </p>
                 <p class="read-m">Read more</p>
                 <div class="hr-1">
                    <div class="hr-2">
                    </div>
                 </div>
            </div>

            <div class="info-box">
                <h6 class="mark-h">Creative Agency</h6>
                <hr class="b-r">
                <h5 class="mark-h-6">Framer Designer & Developer</h5>
                <p class="mark-p">2019 - present</p>
                <p class="mark-p-2">
                    Nemo enim ipsam voluptatem quia voluptas
                    sit aspernatur autodit aut fugit sed<br/>  thisnquia 
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt    
                </p>
                <p class="read-m">Read more</p>
                <div class="hr-1">
                    <div class="hr-2">
                    </div>
                </div>
            </div>
        </div>
        
</div>