<div class="modal-box">
    <div class="modal-img">
      <%= image_tag (@post.image), class: "modal-img" %>
    </div>
    <div class="modal-text">
      <h1 class="modal-h1"><%= @post.title %></h1>
      <p class="modal-p"><%= @post.description%></p>
    </div>
</div>