<div class="b-container">
    <div class="margin">
        <p class="p-style">Professionals focused on helpingyour<br/>brand grow and move forward</p>
        <h1 class="h-style">Designing a Better World <span class="span-s">Today</span></h1>
    <div class="p-to-p">
        <p>
        I'm a passionate UI/UX designer with a
         mission to create delightful and intuitive digital experiences.
         With a strong foundation in design principles and a keen eye for
         detail, I specialize in translating complex ideas into
         user-friendly interfaces that captivate and engage.
         </p>
    </div>
    <button class="btn-1">Get Started</button>
    </div>
</div>