:root{
    --color-a: #FFFFFF;
    --color-b: #000000;
    --color-c: #2D9352;
    --color-d: #1A1A1A;
    --color-e: #151C25;
    --color-f: #A2A2A2;

}
.nav-1{
    margin-top: 8vh;
}
.color-r{
    color: (--color-c);
}

.ill-1{
    width: 12vw;
    height: 7vh;
    list-style: none; 
    display: flex;
    border-radius: 5px;
    margin-top: 2rem;
    border: 1px solid gray;
    color: var(--color-f);
}
.color-b{
    width: 3vw;
    height: 6.7vh;
    background-color: var(--color-b);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius:5px;
}
button{
    background: none;
    border: none;
}
.margin{
    height: 72vh;
}
.lli-1 {
    width: 4.5vw;
    height: 1.5vh;
    margin-top: 2.5vh;
    margin-left: 2vw;
    font-size: 15.5px;
    font-weight: 370;
    line-height: 12px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}
.cod-1{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: var(--color-b);
    border: none;

}
.bi{
    font-size:33px;
    color: var(--color-f);
}
.btn-1{
    background: none;
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.btn-1:hover{
    background: none;
    border: 2px solid var(--color-c);
    color: var(--color-c);
}
.sidebar-container{
    width: 15vw;
    height: 100vh;
    padding: 0px, 2px, 236px, 0px;
    border: 0px, 2px, 0px, 0px;
    background: var(--color-d);
    position: fixed;
}

.logo{
    width: 13.406vw;
    height: 140px;
    padding: 0px, 155px, 0px, 50px;
}
.log h1{
    width: 42px;
    height: 75px;
    margin-top: 10px;
    margin-left: 40px;
    color: var(--color-f);
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}
.b-container{
    max-height:fit-content;
    padding-top:8vh;
    width: 100%;
    background: var(--color-b);
    overflow-y: scroll;
    padding-bottom: 19.4vh;
}
.b-container::-webkit-scrollbar{
    display: none;

}
.img-size-2{
    width: 30vw;
    height: 55vh;
    margin-top: -22vh;
    margin-left:60vw;
    border: 7px;
    position: fixed;
}
.p-text{
    width: 15vw;
    height: 6vh;
    margin-top: 20vh;
    margin-left: 25vw;
}
.p-style{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}
.text-t{
    width: 33vw;
    height: 15vh;
    margin-left: 10vw;
    margin-top: 1vh;
}
.h-style{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--color-a);
}
.span-s{
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--color-c);
}
.p-to-p{
    width: 30vw;
    height: 12vh;
    margin-left: 10vw;
    margin-top: 2vh;
}
.p-p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-f);
}
.btn-1{
    width: 10vw;
    height: 6vh;
    margin-top: 7vh;
    margin-left: 10vw;
    border-radius: 80px;
    color: var(--color-b);
    background: var(--color-c);
    border: none;
}

.img-2{
    width: 700px;
    height: 600px;
    margin-left: 900px;
    margin-top: -300px;
    padding: 15.56px, 36.19px, 9.92px, 49.58px;
    position: fixed;
}
.img-3{
    width: 700px;
    height: 600px;
    margin-left: 910px;
    padding: 15.56px, 36.19px, 9.92px, 49.58px;
    position: fixed;
    background-image: none;
}
.j-j{
    height: 300px;
    width: 200px;
    border: 1px solid var(--color-c);
}
.box{
    width: 70vw;
    height: 23vh;
    margin-top: 5vh;
    margin-left: 20vw;
}
.pro-h{
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 600;
    line-height: 5vh;
    letter-spacing: 0em;
    color: var(--color-a);
    width: 30vw;
    height: 15vh;
    margin-top: 2vh;
    margin-left: 18vw;
    text-align: center;
}

.project-img{
    width: 25vw;
    height: 40vh;
    border-radius: 0.2vw;
}
.box-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 18vw;
    margin-top: -12vh;
}
.project{
    width: 25vw;
    height: 60vh;
    margin-top: 16vh;
    border-radius: 5px;
}
.pro-p{
    margin-top: 1vh;
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 4vh;
    letter-spacing: 0.03em;
    color: var(--color-c);
    width: 30vw;
    height: 4vh;
    margin-left: 18vw;
    text-align: center;
}


.pro-p-2{
    width: 25vw;
    margin-top: 1vh;
    height: 3vh;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-a);
}
.pro-p1{
    width: 25vw;
    height: 14vh;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-f);
}
.A-t{
    text-decoration: none;
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.market-box{
    width: 65vw;
    height: 40vh;
    margin-top: 2vh;
    margin-left: 24vw;
    border-radius: 5px;
    display: flex;
    gap: 2vw;
}
.info-box{
    width: 32vw;
    height: 377px;
    top: 269px;
    left: 36px;
    border-radius: 5px;
    border: 1px solid var(--color-c);
}
.mark-h{
    width: 9vw;
    height: 3vh;
    margin-top: 35px;
    margin-left: 43px;
    border: 0px, 0px, 1px, 0px;
    color: var(--color-f);
}
.b-r{
    width: 9vw;
    margin-top: -1vh;
    margin-left: 2vw;
    border: 1.5px solid var(--color-c);
    color: var(--color-c);
}
.mark-h-6{
    width: 17vw;
    height: 3vh;
    margin-top: 20px;
    margin-left: 2vw;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-f);
}
.mark-p{
    width: 6vw;
    height: 2.2vh;
    margin-left: 43px;  
    color: var(--color-f);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.mark-p-2{
    width: 28vw;
    height: 3vh;
    margin-left: 2vw;
    margin-top: -1vh;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-f);
}
.read-m{
    width: 4vw;
    height: 3vh;
    margin-top: 12vh;
    margin-left: 2.3vw;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-c);
}
.margin{
    margin-left: 12vw;
}
.hr-1{
    width: 28.5vw;
    height: 0.9vh;
    margin-left: 2.3vw;
    padding: 0px, 104.81px, 0px, 0px;
    background: var(--color-d);
}
.hr-2{
    width: 22.8vw;
    height: 0.8vh;
    background: var(--color-c);
}



.cont-form{
    width: 70vw;
    height: 75vh;
    margin-top: -1vh;
    margin-left: 20vw;
    border-radius: 5px;
}
.cont-h{
    width: 16vw;
    height: 7vh;
    margin-left: 24.5vw;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-f);
}
.cont-input{
    width: 34.3vw;
    height: 6.4vh;
    margin-top: 10.8vh;
    margin-left: 1vw;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-input-1{
    width: 34.3vw;
    height: 6.4vh;
    margin-top: 10.8vh;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-input-2{
    width: 70vw;
    height: 6.4vh;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-text{
    width: 70vw;
    height: 15vh;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-btn{
    width: 10.4vw;
    height: 6vh;
    margin-top: 20px;
    margin-left: 500px;
    border-radius: 5px;
    background: var(--color-c);
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.cont-btn:hover{
    background: none;
    border: 2px solid var(--color-c);
    color: var(--color-c);
}
.cont-copy{
    width: 70vw;
    margin-top: 10vh;
    border-top: 1px solid var(--color-d); 
    margin-left: 20vw;
}
.cont-copy-p{
    width: 16.1vw;
    height: 2vh;
    margin-top: 4vh;
    opacity: 0.5px;
}

.splide__list{
    display: flex;
    gap: 3rem;
}

.show-1{
    display: none;
}

.modal-container{
    background: var(--color-d);
    width: 70vw;
    margin-left: -10vw;
}

.modal-box{
    display: flex;
    gap: 1vw;
}

.modal-img{
    height: 60vh;
    width: 38vw;
}

.modal-text{
    width: 30vw;
}

.modal-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    width: 25vw;
    height: 10vh;
    gap: 0px;
    opacity: 0px;
    color: var(--color-f);
}

.modal-p{
    width: 28vw;
    height: 50vh;
    gap: 0px;
    opacity: 0px;
    color: var(--color-f);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    text-align: justified;

}
.color-r{
    color: var(--color-c);
}
.color-v{
    background-color: #2D9352;
}
.color-v i{
    color: #000000;
}
.close {
    float: right;
    color: #A2A2A2;
}

@media  screen and (max-width: 786px) {
    .sidebar-container{
        display: none;
    }
    .show-1{
        display: block;
    }
    .navbar-collapse {
    background: var(--color-c);
    width: 100%;
    position: absolute;
    }
    
    .navbar-collapse{
        margin-top: 50vh;
        width: 100vw;
        margin-left: -1.5vw;
    }
    .color{
        background: var(--color-c);
    }
    .navbar-collapse.active {
        display: flex;
    }
    .nav-item{
        text-align: center;
    }
    .navbar-brand {
    font-family: Poppins;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
        
    }
    .navbar-toggler {
        display: flex;
    }

    .navbar-collapse ul li {
        margin: 10px 0;
    }
    .b-container{
    width: 100vw;
    background: var(--color-b);
    }



    .box{
        width: 35vw;
        height: 23vh;
        margin-left: 13vw;
        margin-top: 2vh;
    }
    .box-1{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2vh;
        margin-top: 1vh;
        margin-left: 3vw;
    }
    .project{
        width: 43vw;
        height: 58vh;
        margin-top: 6vh;
        margin-left: 1vw;
    }

    .project-img{
        width: 43vw;
        height: 40vh;
        border-radius: 1vw;
    }


    .pro-p-2{
        width:43vw;
    }

    .pro-p1{
        width: 43vw;
        text-align: left;
    }
    .pro-p{
        width: 50vw;
        font-size: 4vw;
        height: 4vh;
        margin-left: 10vw;
        color: var(--color-c);
    }

    .pro-h{
        font-family: Poppins;
        font-size: 4vw;
        font-weight: 600;
        line-height: 5vh;
        width: 60vw;
        height: 15vh;
        margin-left: 5vw;
        text-align: center;
    }

    .info-box{
        width: 40vw;
        margin-left: 1vw;
    }
    .market-box{
        margin-left: 8vw;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .cont-copy{
        display: none;
    }


    .cont-form{
        width: 70vw;
        height: 75vh;
        margin-top: -10vh;
        margin-left: 20vw;
        border-radius: 5px;
        border: 1px solid var(--color-c);
    }

    .cont-h{
        width: 20vw;
        height: 7vh;
        margin-left: 24.5vw;
        font-family: Poppins;
        font-size: 50px;
        font-weight: 600;
        line-height: 65px;
        border: 1px solid var(--color-cs);
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-f);
    }


    .mark-h{
        width: 20vw;
        height: 3vh;
        margin-top: 35px;
        margin-left: 3vw;
        color: var(--color-f);
    }


    .b-r{
        width: 15vw;
        margin-top: -1vh;
        margin-left: 3vw;
        border: 2px solid var(--color-c);
    }


    .mark-h-6{
        width: 35vw;
        height: 3vh;
        margin-top: -1vh;
        margin-left: 3vw;
    }

    .mark-p{
        width: 13vw;
        height: 2.2vh;
        margin-left: 3.1vw;
    }

    .mark-p-2{
        width: 35vw;
        height: 3vh;
        margin-left: 3vw;
    }

    .read-m{
        width: 10vw;
        height: 3vh;
        margin-top: 15vh;
        margin-left: 3vw;
    }

}

@media  screen and (max-width: 600px) {
    .sidebar-container{
        display: none;
    }
    .show-1{
        display: block;
    }
    .navbar-collapse {
    background: var(--color-c);
    width: 100%;
    position: absolute;
    }
    
    .navbar-collapse{
        margin-top: 46vh;
        width: 100%;
        margin-left: -2.3vw;
    }
    .color{
        background: var(--color-c);
    }
    .navbar-collapse.active {
        display: flex;
    }
    .nav-item{
        text-align: center;
    }
    .navbar-brand {
    font-family: Poppins;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
        
    }
    .navbar-toggler {
        display: flex;
    }

    .navbar-collapse ul li {
        margin: 10px 0;
    }
    .b-container{
    width: 100vw;
    background: var(--color-b);
    }


    .box{
        width: 70vw;
        height: 23vh;
        margin-left: 13vw;
        margin-top: 2vh;
    }
    .box-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 23vh;
        margin-left: 10vw;
        margin-top: 1vh;
    }
    .project{
        width: 70vw;
        height: 58vh;
        margin-top: 2vh;
        margin-left: 3vw;
    }

    .project-img{
        width: 70vw;
        height: 40vh;
        border-radius: 1vw;
    }


    .pro-p-2{
        width:70vw;
    }

    .pro-p1{
        width: 70vw;
    }
    .pro-p{
        width: 50vw;
        font-size: 4vw;
        height: 4vh;
        margin-left: 10vw;
        color: var(--color-c);
    }

    .pro-h{
        font-family: Poppins;
        font-size: 4vw;
        font-weight: 600;
        line-height: 5vh;
        width: 60vw;
        height: 15vh;
        margin-left: 5vw;
        text-align: center;
    }

    .info-box{
        width: 70vw;
        margin-left: 1vw;
    }
    .market-box{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .cont-copy{
        display: none;
    }


    .cont-form{
        width: 70vw;
        height: 75vh;
        margin-top: -10vh;
        margin-left: 20vw;
        border-radius: 5px;
        border: 1px solid var(--color-c);
    }

    .cont-h{
        width: 20vw;
        height: 7vh;
        margin-left: 24.5vw;
        font-family: Poppins;
        font-size: 50px;
        font-weight: 600;
        line-height: 65px;
        border: 1px solid var(--color-cs);
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-f);
    }
}








