:root{
    --color-a: #FFFFFF;
    --color-b: #000000;
    --color-c: #de9218;
    --color-d: #1A1A1A;
    --color-e: #151C25;
    --color-f: #A2A2A2;

}
.nav-1{
    width: 248px;
    height: 704px;
    margin-left: -15px;
    padding: 30px, 30px, 122px, 30px;
}
.ill-1{
    width: 188px;
    height: 50px;
    padding: 1px, 34px, 1px, 1px;
    color: var(--color-f);
    list-style: none; 
    display: flex;
    border-radius: 5px;
    margin-top: 2rem;
    border: 1px solid var(--color-f);
    color: var(--color-f);
}
button{
    background: none;
    border: none;
}
.lli-1 {
    width: 83px;
    height: 12px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 350;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
}
.cod-1{
    width: 60px;
    height: 60px;
    padding: 17.42px, 15px, 18.58px, 15px;
    border-radius: 5px;
    background: var(--color-b);
    border: none;

}
.bi{
    margin-left: 15px;
    margin-top: 3px;
    font-size:30px;
    color: var(--color-f);
}
.btn-1{
    background: none;
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.btn-1:hover{
    background: none;
    border: 2px solid var(--color-c);
    color: var(--color-c);
}
.sidebar-container{
    width: 13.624vw;
    height: 58.856vw;
    padding: 0px, 2px, 236px, 0px;
    border: 0px, 2px, 0px, 0px;
    background: var(--color-d);
    position: fixed;
}

.logo{
    width: 13.406vw;
    height: 140px;
    padding: 0px, 155px, 0px, 50px;
}
.log h1{
    width: 42px;
    height: 75px;
    margin-top: 10px;
    margin-left: 40px;
    color: var(--color-f);
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}
.b-container{
    width: 1670px;
    height: 1080px;
    margin-left: 250px;
    position: fixed;
    background: var(--color-b);
    display: flex;
}
.img-size{
    width: 650px;
    height: 550px;
    margin-top: -900px;
    margin-left: 950px;
    border: 7px;
    background-attachment: fixed;
}
.img-size-2{

    width: 650px;
    height: 550px;
    margin-top: -900px;
    margin-left: 955px;
    border: 7px;
    background-attachment: fixed;
}
.p-text{
    width: 359px;
    height: 55px;
    margin-top: 200px;
    margin-left: 443px;
}
.p-style{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}
.text-t{
    width: 615px;
    height: 144px;
    margin-left: 187px;
    margin-top: 15px;

}
.h-style{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--color-a);
}
.span-s{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--color-c);
}
.p-to-p{
    width: 550px;
    height: 130px;
    margin-left: 187px;
    margin-top: 40px;
}
.p-p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-f);
}
.btn-1{
    width: 209.02px;
    height: 64px;
    margin-top: 70px;
    margin-left: 187px;
    padding: 20.12px, 41.02px, 19.38px, 42px;
    border-radius: 80px;
    color: var(--color-b);
    background: var(--color-c);
    border: none;
}

.img-2{
    width: 700px;
    height: 600px;
    margin-left: 900px;
    margin-top: -300px;
    padding: 15.56px, 36.19px, 9.92px, 49.58px;
    position: fixed;
}
.img-3{
    width: 700px;
    height: 600px;
    margin-left: 910px;
    padding: 15.56px, 36.19px, 9.92px, 49.58px;
    position: fixed;
    background-image: none;
}
.j-j{
    height: 300px;
    width: 200px;
    border: 1px solid var(--color-c);
}
.c-container{
    width: 1600px;
    height: 1080px;
    margin-left: 250px;
    position: fixed;
    background: var(--color-b);
}
.box{
    width: 1288px;
    height: 800px;
    margin-top: 50px;
    margin-left: 150px;  
}
.pro-text{
    width: 728px;
    height: 130px;
    margin-top: 20px;
    margin-left: 270px;
    position: fixed;
}
.pro-h{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-a);
}
.pro-p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.399999976158142px;
    text-align: center;
    color: var(--color-c);
}
.pro-pp{
    width: 300px;
    height: 24px;
    margin-left: 500px;
    margin-top: 50px;
}
.project-img{
    width: 398px;
    height: 350px;
    border-radius: 5px;
}
.box-1{
    display: flex;
    gap: 50px;
}
.project{
    width: 400px;
    height: 600px;
    margin-top: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.project:hover{
   box-shadow: 0 3px 7px 0 rgba(229, 224, 224, 0.2), 0 5px 15px 0 rgba(229, 224, 224, 0.2);

}
.pro-p{
    width: 356.26px;
    margin-top: 10px;
    height: 26px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-c);
}


.pro-p-2{
    width: 356.26px;
    margin-top: 10px;
    height: 26px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-a);
}
.pro-p1{
    width: 397px;
    height: 200px;
    margin-left: px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-f);
}
.A-t{
    text-decoration: none;
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.market-box{
    width: 1216px;
    height: 377px;
    margin-top: 200px;
    margin-left: 36px;
    border-radius: 5px;
    display: flex;
    gap: 48px;
}
.info-box{
    width: 583px;
    height: 377px;
    top: 269px;
    left: 36px;
    border-radius: 5px;
    border: 1px solid var(--color-d);

}
.mark-h{
    width: 163.83px;
    height: 32.19px;
    margin-top: 35px;
    margin-left: 43px;
    padding: 0px, 29.7px, 11.19px, 0px;
    border: 0px, 0px, 1px, 0px;
    color: var(--color-f);
}
.b-r{
    width: 163.83px;
    margin-top: -10px;
    margin-left: 40px;
    padding: 0px, 29.7px, 11.19px, 0px;
    border: 1.5px solid var(--color-c);
    color: var(--color-c);
}
.mark-h-6{
    width: 297.43px;
    height: 26px;
    margin-top: 20px;
    margin-left: 43px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-f);
}
.mark-p{
    width: 113.6px;
    height: 23px;
    margin-left: 43px;  
    color: var(--color-f);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.mark-p-2{
    width: 510.65px;
    height: 23px;
    margin-left: 43px;
    margin-top: -15px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-f);
}
.read-m{
    width: 103.94px;
    height: 25px;
    margin-top: 100px;
    margin-left: 43px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-c);
}
.hr-1{
    width: 524px;
    height: 6px;
    margin-left: 43px;
    padding: 0px, 104.81px, 0px, 0px;
    background: var(--color-d);
}
.hr-2{
    width: 419.19px;
    height: 6px;
    background: var(--color-c);
}



.cont-form{
    width: 1296px;
    height: 621px;
    margin-top: 100px;
    margin-left: 187px;
    border-radius: 5px;
}
.cont-h{
    width: 294px;
    height: 65px;
    margin-left: 450px;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-f);
}
.cont-input{
    width: 636px;
    height: 60px;
    margin-top: 100px;
    margin-left: 16px;
    padding: 17px, 21px, 18px, 21px;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-input-1{
    width: 636px;
    height: 60px;
    margin-top: 100px;
    padding: 17px, 21px, 18px, 21px;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-input-2{
    width: 1296px;
    height: 60px;
    margin-top: 20px;
    padding: 17px, 21px, 18px, 21px;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-text{
    width: 1296px;
    height: 156px;
    margin-top: 20px;
    padding: 19px, 1064px, 113px, 20px;
    border-radius: 5px;
    width: 1296px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-btn{
    width: 191.7px;
    height: 60px;
    margin-top: 20px;
    margin-left: 500px;
    padding: 18px, 66.62px, 19px, 67px;
    border-radius: 5px;
    background: var(--color-c);
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.cont-btn:hover{
    background: none;
    border: 2px solid var(--color-c);
    color: var(--color-c);
}
.cont-copy{
    width: 1296px;
    height: 98.19px;
    margin-top: 158px;
    border-top: 1px solid var(--color-d); 
    position: sticky;
}
.cont-copy-p{
    width: 296.57px;
    height: 23px;
    margin-top: 38px;
    opacity: 0.5px;

}